<h1 class="font-weight-bold">Mijn presentaties</h1>
<mat-card class="example-card" *ngFor="let presentation of presentations">
    <mat-card-title-group>
        <img mat-card-lg-image src="{{presentation.bannerImage}}" >
      <mat-card-title class="font-weight-bold"> {{ presentation.title }} </mat-card-title>
      <mat-card-subtitle class="text-muted font-weight-bold">Nico Vermeir | {{presentation.date}} </mat-card-subtitle>
      
    </mat-card-title-group>
    <mat-card-content>
        {{ presentation.description }}
      </mat-card-content>
  </mat-card>