<h1 class="font-weight-bold">Bedrijven</h1>
<a (click)="add()" class="btn btn-primary mb-3">Nieuw bedrijf</a>
<mat-card class="example-card mb-3" *ngFor="let company of companies">
    <mat-card-title-group>
        <img mat-card-lg-image src="{{company.logo}}" >
      <mat-card-title class="font-weight-bold"> {{ company.name }} </mat-card-title>
    </mat-card-title-group>
    <mat-card-actions align="end">
      <button class="btn btn-primary mr-2" (click)="edit(company.id)"><i class="fas fa-edit"></i> Bewerken</button>
      <button class="btn btn-danger" (click)="delete(company.id)"><i class="fas fa-trash-alt"></i> Verwijderen</button>
    </mat-card-actions>
  </mat-card>