@import "../../scss/variables";

.example-container {
    height:100%;
}

.sidenavWrapper {
    position: relative;
    height: 100%;
}

#left {
    background-color: $primary;
    width: 12%;
}

mat-list-item span {
    color: white;
    margin-left: 10px;
}

mat-list-item {
    background-color: $secondary;
    margin-top: 15px;
    margin-left: 10px;
    width: 190px
    !important;
    border-radius: 10px;
}

mat-icon {
    background-color: white;
    
}

.user-info {
    position: absolute;
    bottom: 0;
}