@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

//Typography
$font-family-text: "Montserrat", sans-serif;
$font-size-base: 1.1rem;
$font-size-title: 35px;
$text: #1D1D1D;
//Base
$primary: #004D77;
$secondary: #001C54;
$danger: #FF5540;
$success: #004D7780;
$grey: #F7F5F7;

//Theme
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    "grey": $grey,
    "text": $text
)